@font-face {
  font-family: 'iconfont';  /* project id 1109861 */
  src: url('//at.alicdn.com/t/font_1109861_8bc8a4q4ms.eot');
  src: url('//at.alicdn.com/t/font_1109861_8bc8a4q4ms.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1109861_8bc8a4q4ms.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1109861_8bc8a4q4ms.woff') format('woff'),
  url('//at.alicdn.com/t/font_1109861_8bc8a4q4ms.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1109861_8bc8a4q4ms.svg#iconfont') format('svg');
}
